:root{
    /*پالت های رنگی اصلی*/
    --Tint-1 :#E5F2E9;
    --Tint-2 :#CAE4D3;
    --Tint-3 :#B0D7BD;
    --Tint-4 :#96C9A7;
    --Tint-5 :#7CBC91;
    --Tint-6 :#61AE7B;
    --Tint-7 :#4E9968;
    --Primary :#417F56;
    --Shade-1 :#396F4B;
    --Shade-2 :#315F41;
    --Shade-3 :#294F36;
    --Shade-4 :#21402B;
    --Shade-5 :#183020;
    --Shade-6 :#102016;
    --Shade-7 :#08100B;
    /*پالت های رنگی خنثی*/
    --White :#FFFFFF;
    --Gray-1 :#F9F9F9;
    --Gray-2 :#E1E1E1;
    --Gray-3 :#EDEDED;
    --Gray-4 :#CBCBCB;
    --Gray-5 :#ADADAD;
    --Gray-6 :#757575;
    --Gray-7 :#717171;
    --Gray-8 :#353535;
    --Black :#0C0C0C;
    /*پالت های رنگی وضعیت*/
    --Erro :#C30000;
    --Erro-Light :#ED2E2E;
    --Error-Extralight :#FFF2F2;
    --Success :#00966D;
    --Success-Light :#00BA88;
    --Success-Extralight :#F3FDFA;
    --Warning :#A9791C;
    --Warning-Light :#F4B740;
    --Warning-Extralight :#FFF8E1;

}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::after,*::before
{
    box-sizing: border-box;
}
body
{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "Estedad-Regular";
    background-color: var(--White);
    direction: rtl;
   /*برای راست چین کردن*/
}

/* Nav section */
.container{
    padding-left: 10.5rem;
    padding-right: 10.5rem;
    margin-left: auto;
    margin-right: auto;
}
.header{
    margin-top: 1.5rem;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_icon{
    margin-right: 17.5rem;

}
.menue-list{
    display: flex;
    align-content: center;
    gap: 2rem;
    margin-right: 17.5rem;
    margin-left: 14.6rem;
    

}
.menue-list_item{

}
.nav_link{

}
.nav_Logo{
    margin-right: 3rem;

}

.header-slider{

}
.header-slider_content_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

} 
.header-slider_service{
min-width: 100rem;
background-position: center;
}

.header-slider_service_image{
    width: 100%;
    display: block;
    margin: auto;

}
/**menu**/
.main{
    margin-top: 6rem;
    text-align: center;
}
.main-content{

}
.main-content_title{
    font-family: Estedad-vf;
    font-weight: bold ;
    font-size: 2.6rem;

}
/**card menu**/
.cards-container {
  display: flex;
  justify-content: center;
  gap: 14rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.base-card {
  width: 200px;
  height: 250px; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green-section {
  width: 30rem;
  height: 16rem;
  background-color: #417F56;
  border-radius: 15px;
  border: 1px solid #ffffff;
  position: relative;
  top: 8rem;
  z-index: 1;
}

.card-image {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    position: absolute;
    top: -3rem;
    z-index: 2;
}
.card-text_wrapper{
  position: absolute;
  right: 18px;
  bottom: -8px;
}

.card-text {
  margin-top: 2rem; 
  background-color: #ffffff; 
  color: #333; 
  padding: 0.9rem 2.6rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  font-size: 17px; 
  border-radius: 0.5rem;
  font-family: Estedad-vf;
  font-weight: bold;
  position: relative;
  padding: 1rem 5rem;
  z-index: 3; 
}


.main2{
    margin-top: 4.8rem;
    text-align: center;
}
.main-content2{

}
.main-content2_title{
    font-family: Estedad-vf;
    font-weight: bold ;
    font-size: 2.6rem;

}
/**card section**/
.branches{
    display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 2rem;
}
.branches__card{
    width: 300px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  direction: rtl;
}
.branches__image{ width: 100%;
    height: 200px;
    object-fit: cover;
  }
.branches__info{ 
    padding: 1.5rem;
}
.branches__title{
    font-size: 18px;
    font-weight: bold;
    margin: 1rem 0;
}
.branches__description{
    font-size: 14px;
    color: #555;
}
button{
    border-radius: 0.6rem;
    margin-top: 2rem;
    color: #315F41;
    
}
.branches_button{
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 14px;
    font-weight: bold;
    color: #315F41;
    cursor: pointer;
    text-decoration: none;
}
.branches_button:hover{

    
}
/**newsletter**/
.news-letter{
    margin-top: 7rem;
    margin-bottom: 4rem;
}
.news-letter_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-letter_imge{
    width: 100%;
    display: block;
    margin: auto;
}
/**footer**/
.footer{
background: url(../images/png/Footer.png);
background-position: center;
background-size: cover;
min-height: 30rem;
}
.footer_wrapper{


}
.footer_content{

}
.footer_quick_access{
    display: flex;
    gap: 10rem;    
    
}
.quick_menu{

    list-style: none;
    line-height: 4rem;
}
.quick_menu_item{
    font-family: Estedad-vf;
    font-weight: medium;
    text-align: center;
    margin-top: 1.2rem;

}
.quick_menu-item-link{
    text-decoration: none;
    color: var(--White);

}
.footer_apps{
    margin-left: 108rem;
    margin-top: -3rem;
    margin-right: -5rem;
}
.footer_app{

}
.footer_menu{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;

}
.menu_title{
    text-align: left;
    font-family: Estedad-vf;
    font-weight: bold;
    color: var(--White);
    margin-top: 3rem;
    text-align: center;

}