@font-face {
    font-family: Estedad-Regular;
    src: url(../fonts/ttf/Estedad-Regular.ttf);
}
@font-face {
    font-family: Estedad-Bold;
    src: url(../fonts/ttf/Estedad-Bold.ttf);
}
@font-face {
    font-family: Estedad-vf;
    src: url(../fonts/ttf/Estedad-vf.ttf);
}